body, button {
  font-size: 24px;
}

button {
  margin: 0.5rem;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.notes {
  background: beige;
  position: absolute;
  top: 2rem;
  right: 1rem;
  width: 40rem;
  height: 30rem;
  border: 2px dashed brown;
  font-size: 90%;
  padding: 0.5rem;
  textarea {
    width: 97%; 
    padding: 0.5rem; 
    border-width: 0;
    height: 80%;
  }
}

.hidden {
  display: none;
}